#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #createWeeklyTimecard {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #createWeeklyTimecard td, #createWeeklyTimecard th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #createWeeklyTimecard tr:nth-child(even){background-color: #f2f2f2;}
  
  #createWeeklyTimecard tr:hover {background-color: #ddd;}
  
  #createWeeklyTimecard th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(39, 88, 161);
    color: white;
  }